body{padding: 0;
margin: 0;}
.companies-list-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.companies-list{
    min-width: 100%;
}
.list-items{
    text-align: center;
    padding: 80px 50px;
    justify-content: center;
    
}
.symbol{
    width: fit-content;
    font-weight: 700;
    color: white;
    font-size: 22px;
    margin: auto;
}
.price{
    font-weight: 500;
    color: white;
    font-size: 19px;
}
.companies-list:nth-child(4n-1) {
    background: #CE4177;
  }
  .companies-list:nth-child(4n-4) {
    background: #D7427D;
  }
  .companies-list:nth-child(4n-3) {
    background: #D7427D;
  }
  .companies-list:nth-child(4n-2) {
    background: #CE4177;
  }